.banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://th.bing.com/th/id/OIP.vY9htPl5XMRu3F_jBD8nfAHaE4?rs=1&pid=ImgDetMain);
  height: 350px;
  background-size: cover;
  color: white;
}
